body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 20px solid #a137a1;
  box-shadow: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
  border-color: #a137a1;
}

input[type="submit"] {
  background-color: #a137a1;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #a137a1;
}

p {
  text-align: center;
  color: #777;
  font-size: 14px;
}

a {
  color: #a137a1;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #a137a1;
}

.github-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.github-button {
  background-color: #a137a1;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.github-button img {
  width: 24px;
  height: 24px;
}
